extends layout

block content
  div(class="mui-row")
    div(class="mui-col-md-8 mui-col-md-offset-2 mui-panel")
      form.form(action="/update-repos" method="POST" autocomplete="off" class="mui-form form--primary")
        legend(id="form-legend") Add repos you want to be available to create issues in
        each repo in orgRepos
          div(class="mui-checkbox")
            input(type='checkbox' name='repos' value=repo.name id=repo.name class="checkbox--large")
            label(for=repo.name) #{repo.name} - #{repo.description}
        input.button(type="submit" value="add" class="mui-btn mui-btn--raised btn--primary")

